.env
profile_pictures
.idea
.coverage

media/                 
uploads/                
*.mp4                   
*.mov                   
*.avi                   
*.jpg                   
*.png                  
*.gif                   
reports/               
logs/                   
media/avatars/         
media/uploads/        